@charset "UTF-8";

.card{
  background-color: #202026;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 8px;
  max-width: 768px;
  gap: 32px;
  padding: 32px;
  margin: 0 auto;
  margin-top: 24px;
}

.card.old{
  border-bottom: 1px solid #80EE60;
}

.card.new{
  border-bottom: 1px solid #7244DD;
}

.card .cardTitle{
  color: white;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
}

.card .cardParagraph{
  color: #CCC;
  text-align: center;
}

.card .cardDetails .cardSummary{
  color: white;
  display: flex;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  width: 150px;
  padding: 8px;
  margin: 0 auto;
  transition: all .5s;
}

.card .cardDetails .cardSummary:hover{
  transform: translateY(-4px);
}

.card.old .cardDetails .cardSummary{
  outline: 2px solid #80EE60;
}

.card.new .cardDetails .cardSummary{
  outline: 2px solid #7244DD;
}

.bookWrapper{
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.bookWrapper .bookItem{
  color: white;
  flex-grow: 1;
  text-align: center;
  font-size: 0.7em;
  font-weight: 400;
  padding: 8px;
}
