@charset "UTF-8";

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 400px;
  border-top: 2px solid #202026;
}

.footer .text{
  color: white;
  text-align: center;
}

.footer .text .details{
  color: #7244DD;
}

.footer .text .link{
  color: #80EE60;
  font-weight: 300;
  transition: all .5s;
}

.footer .text .link:hover{
  letter-spacing: 1px;
}
